.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: #f0f0f0;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  
  .square:hover {
    background-color: #e0e0e0;
  }
  